@import url(https://fonts.googleapis.com/css?family=Exo:100,400,500);
body {
  font-family: 'Exo', sans-serif; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  color: #282828; }

.button {
  border: none;
  border-radius: 3px;
  padding: 16px 50px;
  background: #ff6d6d;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  cursor: pointer; }
  .button_for-call-to-action {
    max-height: 50px;
    width: 100%;
    letter-spacing: -0.5px;
    box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
    transition: box-shadow .2s ease-in; }
    .button_for-call-to-action:hover {
      box-shadow: 0px 3px 10px 0px rgba(14, 15, 15, 0.5); }

.input-text {
  height: 50px;
  font-size: 16px;
  background: #474d78;
  border: 1px solid #999cb4;
  border-radius: 2px;
  color: #f6f5f3;
  padding: 0 28px;
  text-transform: uppercase;
  width: 100%;
  outline: none; }
  .input-text::placeholder {
    color: #f6f5f3;
    opacity: 1; }
  .input-text_for-footer {
    width: 214px;
    border-color: #b8b8bf;
    background: #fff; }

.input-group {
  display: flex;
  margin: 4px; }
  .input-group .input-text {
    height: 49px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: rgba(0, 0, 0, 0.4); }
    .input-group .input-text::placeholder {
      color: rgba(0, 0, 0, 0.4); }
  .input-group .button {
    background: #ff6d6d url(/assets/img/newsletter-icon.svg) center center no-repeat;
    width: 52px;
    height: 49px;
    padding: 0;
    box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
    transition: box-shadow .2s ease-in; }
    .input-group .button:hover {
      box-shadow: 0px 3px 10px 0px rgba(14, 15, 15, 0.5); }

.heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.9px;
  margin: 0; }
  .heading__label {
    font-size: 16px;
    line-height: 34px;
    color: #ff6d6d;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    display: block; }
  .heading__dots {
    color: #ff6d6d;
    letter-spacing: 4px; }
  .heading_centered {
    text-align: center;
    font-size: 39px;
    line-height: 45px;
    letter-spacing: 0.7px; }
  .heading_for-new-design-2 .heading__label {
    margin-bottom: 8px; }
  .heading_for-new-features-2 {
    font-size: 40px;
    letter-spacing: 0.9px;
    line-height: 42px; }
  .heading_for-call-to-action {
    color: #fff; }
    .heading_for-call-to-action .heading__dots {
      color: #fff; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  min-height: 814px;
  background: url(/assets/img/header-background.jpg) top center no-repeat;
  background-size: cover; }
  .header__heading {
    margin: 42px 0;
    max-width: 750px;
    font-weight: 100;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 2.5px; }
  .header__video-btn {
    width: 59px;
    height: 59px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #323969;
    opacity: 0.6;
    position: relative;
    cursor: pointer;
    margin-bottom: 40px; }
    .header__video-btn:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 0 9.5px 17px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      left: 41%;
      top: 34%; }
  .header__label {
    font-size: 14px;
    opacity: 0.6;
    letter-spacing: 0.4px;
    margin-top: 15px; }

.new-design {
  background: url(/assets/img/new-design-background.jpg) no-repeat;
  background-position: left calc(50% + 577px) top 0px;
  background-size: contain;
  overflow: auto; }
  @media (min-width: 2000px) {
    .new-design {
      background-position: right top; } }
  .new-design__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 180px 580px 120px 15px; }
  .new-design__text {
    opacity: 0.66;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.65px;
    margin-top: 26px; }
    .new-design__text_first {
      margin-top: 40px; }

.new-features {
  background: #f6f5f3 url(/assets/img/new-features-background.jpg) no-repeat;
  background-position: top -65px center; }
  .new-features__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 130px 0px 180px 0px; }
  .new-features__container {
    display: flex; }
  .new-features__column {
    padding: 80px 20px 0px 20px;
    text-align: center;
    flex: 1; }
    .new-features__column h3 {
      font-size: 22px;
      font-weight: 500;
      margin-top: 19px;
      margin-bottom: 8px;
      letter-spacing: 0.2px; }
    .new-features__column p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 26px; }

.new-design-2 {
  background: url(/assets/img/new-design-2-background.jpg) no-repeat;
  background-position: left calc(50% - 876px) top -253px; }
  .new-design-2__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 130px 0px 125px 0px;
    display: flex; }
  .new-design-2__space {
    flex: 1;
    padding: 0px 43px; }
  .new-design-2__content {
    flex: 1;
    padding: 0px 55px 0px 0px; }
    .new-design-2__content p {
      margin-top: 32px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.34px; }

.clients {
  background: #22222a url(/assets/img/clients-background.jpg) center center no-repeat;
  color: #fff;
  text-align: center; }
  .clients__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 110px 0px 85px 0px; }
  .clients__container {
    display: flex;
    padding-bottom: 65px; }
  .clients__column {
    flex: 1; }
  .clients__avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #1d1e24;
    border-radius: 1px;
    background: #4e4e5e;
    display: inline-block; }
  .clients__name {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.25px;
    margin-top: 13px; }
  .clients__position {
    font-size: 16px;
    font-weight: 500;
    color: #ff6d6d;
    margin-top: 3px; }
  .clients__quote {
    margin-top: 28px;
    padding: 0px 32px;
    letter-spacing: 0.3px;
    line-height: 25px; }

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .logos__logo:nth-child(1) {
    width: 131px;
    height: 67px; }
  .logos__logo:nth-child(2) {
    width: 110px; }
  .logos__logo:nth-child(3) {
    width: 99px; }
  .logos__logo:nth-child(4) {
    width: 94px; }
  .logos__logo:nth-child(5) {
    width: 124px; }

.new-features-2 {
  padding: 98px 0px 400px 0px;
  background: #f6f5f3 url(/assets/img/new-features-2-background.png) center bottom no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .new-features-2 p {
    font-size: 16px;
    font-weight: 500;
    max-width: 660px;
    text-align: center;
    margin: 37px 0px 65px 0px;
    line-height: 26px;
    letter-spacing: 0.35px; }

.call-to-action {
  background: #323969;
  text-align: center; }
  .call-to-action__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 86px 0px 85px 0px; }
  .call-to-action__container {
    display: flex;
    justify-content: space-between;
    padding: 14px 0px 47px 0px;
    align-items: flex-end; }
    .call-to-action__container > * {
      flex: 1;
      margin: 0 15px; }
  .call-to-action__button-wrapper {
    height: 130px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: url(/assets/img/call-to-action-arrow.png) 2px 29px no-repeat; }
    .call-to-action__button-wrapper span {
      color: #f6f5f3;
      margin-bottom: 41px;
      letter-spacing: 0.4px; }
  .call-to-action__terms-and-services {
    color: #f6f5f3;
    font-size: 16px;
    letter-spacing: 0.4px;
    opacity: 0.6; }
    .call-to-action__terms-and-services a, .call-to-action__terms-and-services a:active, .call-to-action__terms-and-services a:hover, .call-to-action__terms-and-services a:any-link {
      color: #f6f5f3; }

.footer {
  background: url(/assets/img/footer-background.jpg) no-repeat;
  background-position: left calc(50% + 764px) top 0px; }
  .footer__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 84px 0px 100px 0px;
    display: flex; }
    .footer__inner > * {
      padding: 0px 15px; }
  .footer h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 5px 3px;
    letter-spacing: 0.8px; }
  .footer__about {
    flex-basis: 25%; }
    .footer__about img {
      margin-left: 3px; }
    .footer__about p {
      margin: 0;
      font-size: 14px;
      line-height: 26px;
      font-weight: 500;
      color: #282828;
      letter-spacing: 0.25px;
      opacity: .66;
      padding-right: 20px; }
  .footer__column {
    flex-basis: 16.66666%; }
    .footer__column ul {
      margin: 18px 5px;
      padding: 0;
      list-style: none;
      opacity: .66; }
      .footer__column ul li {
        margin: 8px 0px; }
        .footer__column ul li a, .footer__column ul li a:any-link, .footer__column ul li a:hover {
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          color: #282828;
          letter-spacing: 0.4px; }
  .footer__newsletter {
    flex: 1; }
    .footer__newsletter h3 {
      margin-bottom: 24px; }

